<div class="row">
    <div class="col-10">
        <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Change</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @tracked_stocks.each do |stock| %>
                <tr>
                <th scope="row"><%= stock.ticker %><%= image_tag stock.image, class: "logo" if stock.image %></th>
                <td><%= stock.name %></td>
                <td><%= stock.price %></td>
                <td><%= stock.percent %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>