<div class="results">
    <%= render 'layouts/messages' %>
</div>
<% if @friends %>
    <div class="card card-header results">
     <table class='colm-md-12'>
      <tbody>
        <% @friends.each do |friend| %>
            <tr>
                <td><strong>Email: </strong><%= friend.email %></td>
                <td><strong>Name: </strong><%= friend.full_name %></td>
                <td><strong>Stock tracking: </strong><%= friend.stocks.count %></td>
                <td><strong>Actions: </strong><%= link_to 'View Profile', '#', class: 'btn bn-xs btn-success' %>
                <% if current_user.not_friends_with? friend %>
                    <%= link_to "Follow friend?", friendships_path(friend: friend) , class: "btn btn-xs btn-success", method: :post%></td>
                <% else %>
                    <span class="badge badge-secondary">
                        You are friends.
                    </span>
                <% end %>
            </tr>
        <% end %>
      </tbody>
     </table>
    </div>
<% end %>